
h1 {
    font-size: 60px;
    color: darkred;
    text-align: center;
}

.food-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingredients {
    background-color: lightyellow;
}

.recipe-links {
    text-align: center;
    font-size: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}